.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;

  .title {
    color: black;
    font-size: var(--font-size-large);
    padding: 10px;
    text-decoration: none;
  }
}
