.characteristics-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;

  .title {
    font-size: var(--font-size-medium);
  }

  .actions {
    display: flex;
    gap: 5px;

    .action {
      height: 30px;
      min-height: 0;
      min-width: 0;
      padding: 0;
      width: 30px;

      .icon {
        font-size: 16px;
        height: 16px;
        margin: 0;
        width: 16px;
      }
    }
  }
}

.characteristics {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.icon {
  font-size: 24px;
  height: 24px;
  width: 24px;
}
