.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px;

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .title {
      font-size: var(--font-size-medium);
      font-weight: normal;
      margin: 0;
    }

    .actions {
      display: flex;
      gap: 10px;

      .add {
        font-size: var(--font-size-small);
      }
    }
  }

  .panel {
    .title {
      font-size: var(--font-size-large);
      font-weight: 500;
    }
    .logo {
      height: 40px;
      flex: 0 0 auto;
    }
    .actions {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
    }
  }

  .icon {
    font-size: 24px;
    height: 24px;
    width: 24px;
  }
}
