<div class="container">
  <div class="header">
    <h3 class="title">Companies dashboard</h3>
    <div class="actions">
      <button mat-icon-button (click)="accordion().openAll()">
        <mat-icon class="icon">unfold_more</mat-icon>
      </button>
      <button mat-icon-button (click)="accordion().closeAll()">
        <mat-icon class="icon">unfold_less</mat-icon>
      </button>
      <button mat-flat-button class="add" (click)="openCreateCompanyDialog()">
        <mat-icon class="icon">add</mat-icon>
        <span>Add company</span>
      </button>
    </div>
  </div>
  <mat-accordion multi class="accordion">
    @for (company of companies; track company.id) {
    <mat-expansion-panel class="panel" #panel>
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <mat-panel-title class="title">
          {{ company.name }}
        </mat-panel-title>
        <mat-panel-description>
          <img [src]="company.logoUrl" class="logo" />
        </mat-panel-description>
        @if (panel.expanded) {
        <div class="actions">
          <button
            mat-flat-button
            (click)="openUpdateCompanyDialog(company); $event.stopPropagation()"
            class="flat-icon-button"
          >
            <mat-icon class="icon">edit</mat-icon>
          </button>
          <button
            mat-flat-button
            (click)="
              openConfirmDeleteCompanyDialog(company); $event.stopPropagation()
            "
            class="flat-icon-button"
          >
            <mat-icon class="icon">delete</mat-icon>
          </button>
        </div>
        }
      </mat-expansion-panel-header>
      <app-company-panel-content
        [company]="company"
        [disableAddCompanyCharacteristic]="
          getCompanyCharacteristicOptions(company).length === 0
        "
        [disableAddCompanyHistoricCharacteristic]="
          getCompanyHistoricCharacteristicOptions(company).length === 0
        "
        (addCompanyCharacteristic)="
          openCreateCompanyCharacteristicDialog(company)
        "
        (addCompanyHistoricCharacteristic)="
          openCreateCompanyHistoricCharacteristicDialog(company)
        "
        (updateCompanyCharacteristic)="
          onUpdateCompanyCharacteristic(
            $event.companyCharacteristic,
            $event.companyCharacteristicUpdateDto
          )
        "
        (updateCompanyHistoricCharacteristic)="
          openUpdateCompanyHistoricCharacteristicDialog(
            company,
            $event.companyHistoricCharacteristic
          )
        "
        (deleteCompanyCharacteristic)="
          openConfirmDeleteCompanyCharacteristicDialog(
            company,
            $event.companyCharacteristic
          )
        "
        (deleteCompanyHistoricCharacteristic)="
          openConfirmDeleteCompanyHistoricCharacteristicDialog(
            company,
            $event.companyHistoricCharacteristic
          )
        "
      >
      </app-company-panel-content>
    </mat-expansion-panel>
    } @if (!companies.length) {
    <span>No companies found.</span>
    }
  </mat-accordion>
</div>
