<div class="container">
  <div class="content">
    <mat-icon
      class="icon"
      [fontIcon]="icon"
      [style.color]="companyCharacteristic.color"
    ></mat-icon>
    <span>{{ companyCharacteristic.label }}</span>
    <span>-</span>
    @if (companyCharacteristicFormGroup.enabled) {
    <form
      [formGroup]="companyCharacteristicFormGroup"
      class="form company-characteristic-form"
    >
      <mat-form-field
        appearance="outline"
        class="form-field no-subscript value"
      >
        <input matInput type="number" formControlName="value" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field no-subscript unit">
        <input matInput formControlName="unit" placeholder="Unit" />
      </mat-form-field>
    </form>
    } @else {
    <span>{{ companyCharacteristic.value | number }}</span>
    @if (companyCharacteristic.unit) {
    <span>{{ companyCharacteristic.unit }}</span>
    } }
  </div>
  <div class="actions">
    <button
      mat-flat-button
      (click)="onUpdate()"
      class="action"
      [disabled]="
        companyCharacteristicFormGroup.enabled &&
        !companyCharacteristicFormGroup.valid
      "
    >
      <mat-icon
        class="icon"
        [fontIcon]="companyCharacteristicFormGroup.enabled ? 'check' : 'edit'"
      >
      </mat-icon>
    </button>
    <button mat-flat-button (click)="onDelete()" class="action">
      <mat-icon class="icon" fontIcon="delete"></mat-icon>
    </button>
  </div>
</div>
