.container {
  align-items: center;
  border: 1px solid;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  gap: 15px;
  height: 50px;
  padding: 10px 15px;

  .content {
    align-items: center;
    display: flex;
    font-size: var(--font-size-medium);
    gap: 5px;

    .icon {
      font-size: 28px;
      height: 28px;
      width: 28px;
    }

    .company-characteristic-form {
      display: flex;
      gap: 5px;

      .value {
        width: 120px;
      }

      .unit {
        width: 80px;
      }
    }
  }

  .actions {
    display: flex;
    gap: 5px;

    .action {
      height: 30px;
      min-height: 30px;
      min-width: 30px;
      padding: 0;
      width: 30px;

      .icon {
        font-size: 16px;
        height: 16px;
        margin: 0;
        width: 16px;
      }
    }
  }
}
