<h2 mat-dialog-title>
  Add
  {{
    characteristicFormGroup.get("historic")!.value
      ? "historic characteristic"
      : "characteristic"
  }}
</h2>
<mat-dialog-content
  [formGroup]="characteristicFormGroup"
  class="form-group-container"
>
  <form (ngSubmit)="onSubmit()" class="form">
    <div class="historic">
      <span>Historic</span>
      <mat-radio-group formControlName="historic">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>
        {{
          characteristicFormGroup.get("historic")!.value
            ? "Historic characteristic"
            : "Characteristic"
        }}
        label
      </mat-label>
      <input matInput formControlName="label" placeholder="Enter label" />
      @if (characteristicFormGroup.get('label')?.invalid &&
      characteristicFormGroup.get('label')?.touched) {
      <mat-error>Label is required.</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field no-subscript">
      <mat-label>
        {{
          characteristicFormGroup.get("historic")!.value
            ? "Historic characteristic"
            : "Characteristic"
        }}
        type
      </mat-label>
      <mat-select formControlName="type">
        @for (typeOption of typeOptions; track typeOption) {
        <mat-option [value]="typeOption">{{ typeOption }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>
        {{
          characteristicFormGroup.get("historic")!.value
            ? "Historic characteristic"
            : "Characteristic"
        }}
        color
      </mat-label>
      <input matInput formControlName="color" placeholder="Enter color" />
      @if (characteristicFormGroup.get('color')?.invalid &&
      characteristicFormGroup.get('color')?.touched) {
      <mat-error>Color is required.</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="characteristicFormGroup.invalid"
    (click)="onSubmit()"
  >
    Create
  </button>
</mat-dialog-actions>
