<div class="container">
  <div class="content">
    <div class="description">
    <mat-icon
      class="icon"
      [style.color]="companyHistoricCharacteristic.color"
      >
        {{ icon }}
      </mat-icon>
    <span>{{ companyHistoricCharacteristic.label }}</span>
      <mat-icon class="icon">history</mat-icon>
  </div>
  <div class="actions">
    <button mat-flat-button (click)="onUpdate()" class="action">
        <mat-icon class="icon">edit</mat-icon>
    </button>
    <button mat-flat-button (click)="onDelete()" class="action">
        <mat-icon class="icon">delete</mat-icon>
    </button>
    </div>
  </div>
</div>
