<div class="container">
  <div class="header">
    <div class="description">
      <mat-icon
        class="icon"
        [style.color]="companyHistoricCharacteristic.color"
      >
        {{ icon }}
      </mat-icon>
      <span>{{ companyHistoricCharacteristic.label }}</span>
    </div>
    <div class="actions">
      <button mat-flat-button (click)="onUpdate()" class="action">
        <mat-icon class="icon">edit</mat-icon>
      </button>
      <button mat-flat-button (click)="onDelete()" class="action">
        <mat-icon class="icon">delete</mat-icon>
      </button>
    </div>
  </div>
  @if (companyHistoricCharacteristic.values?.length &&
  companyHistoricCharacteristic.values!.length >= 2) {
  <canvas #chartCanvas height="200px"></canvas>
  }
</div>
