.container {
  border: 1px solid;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: center;
  padding: 10px 15px;

  .header {
    display: flex;
    gap: 15px;
    justify-content: space-between;

    .description {
      align-items: center;
      display: flex;
      font-size: var(--font-size-medium);
      gap: 5px;

      .icon {
        font-size: 28px;
        height: 28px;
        width: 28px;
      }
    }

    .actions {
      display: flex;
      gap: 5px;

      .action {
        height: 30px;
        min-height: 30px;
        min-width: 30px;
        padding: 0;
        width: 30px;

        .icon {
          font-size: 16px;
          height: 16px;
          margin: 0;
          width: 16px;
        }
      }
    }
  }
}
