<div class="container">
  <div class="content">
    <mat-icon class="icon" [style.color]="characteristic.color">
      {{ icon }}
    </mat-icon>
    <span>{{ characteristic.label }}</span>
  </div>
  @if (authenticated$ | async) {
  <div class="actions">
    <button mat-flat-button (click)="onUpdate()" class="flat-icon-button">
      <mat-icon class="icon">edit</mat-icon>
    </button>
    <button mat-flat-button (click)="onDelete()" class="flat-icon-button">
      <mat-icon class="icon">delete</mat-icon>
    </button>
  </div>
  }
</div>
