html {
  height: 100%;

  --font-size-large: 24px;
  --font-size-medium: 20px;
  --font-size-small: 18px;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flat-icon-button.flat-icon-button {
  min-width: 0;
  padding: 0;
  width: 50px;

  .icon {
    margin: 0;
  }
}

.mat-expansion-indicator {
  margin-left: 16px;
  padding: 0 8px;
}

.mat-mdc-option .mat-icon.mat-icon {
  font-size: 24px;
  height: 24px;
  margin-right: 10px;
  width: 24px;
}

.company-characteristic-form.company-characteristic-form {
  .mat-mdc-form-field-infix {
    padding: 4px 0;
    min-height: 32px;
  }

  .mat-mdc-text-field-wrapper {
    padding: 0 8px;
  }
}

.form-field.form-field.no-subscript.no-subscript {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
