.form-group-container {
  margin-top: 10px;
  overflow: hidden;

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px 0;

    .form-field {
      width: 100%;
    }

    .value-header {
      align-items: center;
      display: flex;
      font-size: 16px;
      justify-content: space-between;
    }

    .values {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-height: 400px;
      overflow-y: auto;
      padding: 5px 0;

      .value {
        align-items: center;
        display: flex;
        gap: 10px;
      }
    }

    .action {
      height: 30px;
      min-height: 30px;
      min-width: 30px;
      padding: 0;
      width: 30px;

      .icon {
        font-size: 16px;
        height: 16px;
        margin: 0;
        width: 16px;
      }
    }
  }
}
