<div class="container">
  <div class="content">
    <mat-icon class="icon" [style.color]="historicCharacteristic.color">
      {{ icon }}
    </mat-icon>
    <span>{{ historicCharacteristic.label }}</span>
  </div>
  <mat-icon class="icon">history</mat-icon>
  <div class="actions">
    <button mat-flat-button (click)="onUpdate()" class="flat-icon-button">
      <mat-icon class="icon">edit</mat-icon>
    </button>
    <button mat-flat-button (click)="onDelete()" class="flat-icon-button">
      <mat-icon class="icon">delete</mat-icon>
    </button>
  </div>
</div>
