<div class="container">
  <div class="header">
    <h3 class="title">Characteristics dashboard</h3>
    <div class="actions">
      <button
        mat-flat-button
        class="add"
        (click)="openCreateCharacteristicDialog()"
      >
        <mat-icon class="icon">add</mat-icon>
        <span>Add characteristic</span>
      </button>
    </div>
  </div>
  <div class="characteristics">
    @for (characteristic of characteristics; track characteristic.id) {
    <app-characteristic
      [characteristic]="characteristic"
      (update)="openUpdateCharacteristicDialog(characteristic)"
      (delete)="openConfirmDeleteCharacteristicDialog(characteristic)"
    >
    </app-characteristic>
    } @for (historicCharacteristic of historicCharacteristics; track
    historicCharacteristic.id) {
    <app-historic-characteristic
      [historicCharacteristic]="historicCharacteristic"
      (update)="openUpdateHistoricCharacteristicDialog(historicCharacteristic)"
      (delete)="
        openConfirmDeleteHistoricCharacteristicDialog(historicCharacteristic)
      "
    >
    </app-historic-characteristic>
    } @if (!characteristics.length && !historicCharacteristics.length) {
    <span>No characteristics found.</span>
    }
  </div>
</div>
