.form-group-container {
  margin-top: 10px;
  overflow: visible;

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .form-field {
      width: 100%;
    }
  }
}
