<h2 mat-dialog-title>Add '{{ data.company.name }}' historic characteristic</h2>
<mat-dialog-content
  [formGroup]="companyHistoricCharacteristicFormGroup"
  class="form-group-container"
>
  <form (ngSubmit)="onSubmit()" class="form">
    <mat-form-field appearance="outline" class="form-field no-subscript">
      <mat-label>Historic characteristic</mat-label>
      <mat-select
        formControlName="historicCharacteristicId"
        placeholder="Select historic characteristic"
      >
        @for (historicCharacteristic of data.historicCharacteristicOptions;
        track historicCharacteristic.id) {
        <mat-option [value]="historicCharacteristic.id">
          <mat-icon
            class="icon"
            [fontIcon]="getCharacteristicIcon(historicCharacteristic)"
            [style.color]="historicCharacteristic.color"
          >
          </mat-icon>
          {{ historicCharacteristic.label }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field no-subscript">
      <mat-label>Unit</mat-label>
      <input matInput formControlName="unit" placeholder="Enter unit" />
    </mat-form-field>
    <div class="value-header">
      <span>Historic values</span>
      <button
        mat-flat-button
        (click)="addCompanyHistoricCharacteristicValue()"
        class="action"
      >
        <mat-icon class="icon" fontIcon="add"></mat-icon>
      </button>
    </div>
    <div formArrayName="values" class="values">
      @for (valueFormGroup of
      $any(companyHistoricCharacteristicFormGroup.get('values')!).controls;
      track valueFormGroup; let index = $index) {
      <div [formGroupName]="index" class="value">
        <mat-form-field appearance="outline" class="form-field no-subscript">
          <mat-label>Value</mat-label>
          <input
            matInput
            type="number"
            formControlName="value"
            placeholder="Enter value"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field no-subscript">
          <mat-label>Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="date"
            placeholder="Enter date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button
          mat-flat-button
          (click)="removeCompanyHistoricCharacteristicValue(index)"
          class="action"
        >
          <mat-icon class="icon" fontIcon="delete"></mat-icon>
        </button>
      </div>
      }
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="companyHistoricCharacteristicFormGroup.invalid"
    (click)="onSubmit()"
  >
    Create
  </button>
</mat-dialog-actions>
